<div>
    <div class="panel-heading">
        <h3 class="panel-title">
            <button class="btn btn-link" style="color:black" ng-click="sc.delete()">{{sc.card.name}}</button>
        </h3>
        <ul>
            <li ng-repeat="story in sc.card.stories">{{story.name}}</li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Move Card
  <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-click="sc.move('To-Do')" ><a href="#">To Do</a></li>
                <li ng-click="sc.move('In-Progress')"><a href="#">In Progress</a></li>
                <li ng-click="sc.move('Finished')"><a href="#">Finished</a></li>
            </ul>
        </div>

    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>